
##########################################################################################
# The eject button hardware configuration. Change the values to your needs and number
# of gates
# 

[gcode_button mmu_eject_button_0]
pin: ^!emu0:MMU_EJECT_BUTTON
press_gcode: _MMU_EJECT_BUTTON GATE=0

[gcode_button mmu_eject_button_1]
pin: ^!emu1:MMU_EJECT_BUTTON
press_gcode: _MMU_EJECT_BUTTON GATE=1
