[server]
url = https://obico.cashmedia.me
auth_token = da27c117661164574af3

[moonraker]
host = 127.0.0.1
port = 7125

[webcam Bed]
disable_video_streaming = False
# snapshot_url = http://skyforge.packnet.cc/webcam/?action=snapshot
# stream_url = http://skyforge.packnet.cc/webcam/?action=stream
# stream_mode = mjpeg_webrtc

[logging]
path = /home/pi/printer_data/logs/moonraker-obico.log
level = INFO

[tunnel]

